
<div class="modal-header">
  <div class="text-center">
  <h3 class="modal-title">Are you sure you would like to submit your information?</h3>
  </div>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <div class="text-left">
        <button class="btn btn-primary" ng-click="closeModal()">No</button>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="text-right">
        <button class="btn btn-primary" ng-click="submitInfo(); closeModal()">Yes</button>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>

